$default: #ffffff;
$system: #000000;
$main: #81c4bd;
$background: #dedede;
$hover: #0e7387;
$extra: #f5eaa8;
$semi-background: #c49260;

:root {
  --default: #{$default};
  --system: #{$system};
  --main: #{$main};
  --background: #{$background};
  --hover: #{$hover};
  --extra: #{$extra};
  --semi-background: #{$semi-background};
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}
