@import "../vendor/bootstrap-5.0.2/scss/bootstrap.scss";

@import "global/fonts";
@import "global/colors";
@import "global/icons";
@import "global/global";

@import "pages/home";

@import "sections/section";
@import "sections/about";
@import "sections/services";

@import "components/breadcrums";
@import "components/scroll";
@import "components/preloader";
@import "components/header";
@import "components/carousel";
