@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

$font-default: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-primary: "Amatic SC", sans-serif;
$font-secondary: "Inter", sans-serif;

:root {
  --font-default: #{$font-default};
  --font-primary: #{$font-primary};
  --font-secondary: #{$font-secondary};
}
