/*--------------------------------------------------------------
# Fasilities Section
--------------------------------------------------------------*/

.fasilities {
  .container-fluid {
    padding: 0;
  }

  .fasility-item {
    background-size: cover;
    background-position: center;
    min-height: 600px;
    padding: 30px;
    transition: background 0.3s ease;
    position: relative;

    @media (max-width: 575px) {
      min-height: 500px;
    }

    &:hover,
    &:focus {
      &:before {
        content: "";
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        inset: 0;
      }

      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        #000 center / cover;

      h3,
      .price,
      .description {
        display: block;
        transition: opacity 0.3s ease 0.3s;
        opacity: 1;
      }
    }

    h3,
    .price,
    .description {
      display: none;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    h3 {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 5px;
      color: #fff;
      position: relative;
      margin-bottom: 100px;
    }

    .price {
      color: #fff;
      border-bottom: 2px solid var(--color-primary);
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 15px;
      position: relative;
    }

    .description {
      margin-bottom: 0;
      color: rgba(255, 255, 255, 0.9);
      position: relative;
    }

    @media (min-width: 1200px) {
      &:first-child {
        border-left: 1px solid rgba(255, 255, 255, 0.5);
      }

      &:last-child {
        border-right: 1px solid rgba(255, 255, 255, 0.5);
      }

      z-index: 1;
    }
  }

  .swiper-pagination {
    margin-top: 20px;
    position: relative;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: #d1d1d7;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--color-primary);
    }
  }
}
