/* Hero Section */
.hero {
  width: 100%;
  background-size: cover;
  position: relative;
  min-height: 60vh;
  padding: 160px 0 60px 0;

  h2 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 30px;
    color: $color-primary;
    font-family: var(--font-primary);

    span {
      color: $color-extra;
    }
  }

  p {
    color: #4f4f5a;
    font-weight: 400;
    margin-bottom: 50px;
  }

  .btn-reservation {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 36px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: var(--color-primary);
    box-shadow: 0 8px 28px rgba(206, 18, 18, 0.2);

    &:hover {
      background: $color-extra;
      box-shadow: 0 8px 28px $color-hover;
    }
  }

  .btn-list-dokter {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    color: var(--font-secondary);
    font-weight: 600;

    i {
      color: var(--color-primary);
      font-size: 32px;
      transition: 0.3s;
      line-height: 0;
      margin-right: 8px;
    }

    &:hover {
      color: var(--color-primary);

      i {
        color: $color-extra;
      }
    }
  }

  img {
    border-radius: 300px 0px 300px 0px;
    cursor: pointer;
  }

  @media (max-width: 640px) {
    h2 {
      font-size: 36px;
    }

    .btn-get-started,
    .btn-watch-video {
      font-size: 14px;
    }
  }
}
