/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/
.testimonials {
  background-color: $color-secondary;

  .section-header {
    margin-bottom: 40px;

    h2 {
      color: $color-default;
    }

    p {
      color: $color-hover;
    }
  }

  .testimonials-carousel,
  .testimonials-slider {
    overflow: hidden;
  }

  .testimonial-item {
    .testimonial-content {
      border-left: 3px solid var(--color-primary);
      padding-left: 30px;
    }

    .testimonial-img {
      border-radius: 50%;
      border: 4px solid #fff;
      margin: 0 auto;
    }

    h3 {
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0 5px 0;
      color: $color-default;
      font-family: var(--font-secondary);
    }

    h4 {
      font-size: 14px;
      color: #6c757d;
      margin: 0 0 10px 0;
      font-family: var(--font-secondary);
    }

    .stars i {
      color: $color-primary;
      margin: 0 1px;
    }

    .quote-icon-left,
    .quote-icon-right {
      color: $color-extra;
      font-size: 26px;
      line-height: 0;
    }

    .quote-icon-left {
      display: inline-block;
      left: -5px;
      position: relative;
    }

    .quote-icon-right {
      display: inline-block;
      right: -5px;
      position: relative;
      top: 10px;
      transform: scale(-1, -1);
    }

    p {
      font-style: italic;
      color: $color-nones;
    }
  }

  .swiper-pagination {
    margin-top: 40px;
    position: relative;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: $color-nones;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: $color-hover;
    }
  }
}
