/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about {
  .section-header {
    p {
      color: $color-extra;
    }
  }

  .section-content {
    .card {
      padding: 5px 20px;
      border-bottom-right-radius: 30%;
      background-color: $color-secondary;
      color: $color-nones;

      .card-title {
        color: $color-hover;
        font-size: 28px;
        font-weight: 600;
        margin: 25px 0px;
      }

      .card-text {
        max-height: 300px;
        overflow: hidden;
        text-overflow: ellipsis; /* Baris ini ditambahkan */
        display: -webkit-box; /* Baris ini ditambahkan */
        -webkit-line-clamp: 6; /* Baris ini ditambahkan */
        -webkit-box-orient: vertical; /* Baris ini ditambahkan */
      }

      .btn-more {
        margin: 10px 0;
        background-color: $color-nones;
        color: $color-primary;
        border-radius: 10px;
        border: 2px solid $color-extra;

        &:hover {
          background-color: $color-extra;
          color: $color-nones;
          border: 2px solid $color-extra;
        }
      }
    }
  }
}
