.events {
  .container-fluid {
    padding: 0;
  }

  .event-item {
    background-size: cover;
    background-position: center;
    min-height: 600px;
    padding: 30px;

    &:before {
      content: "";
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      inset: 0;
    }

    h3 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 5px;
      color: #fff;
      position: relative;
    }

    .price {
      color: #fff;
      border-bottom: 2px solid var(--color-primary);
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 15px;
      position: relative;
    }

    .description {
      margin-bottom: 0;
      color: rgba(255, 255, 255, 0.9);
      position: relative;
    }

    @media (max-width: 575px) {
      min-height: 500px;
    }

    &:before {
      content: "";
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      inset: 0;
    }

    h3 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 5px;
      color: #fff;
      position: relative;
    }

    .price {
      color: #fff;
      border-bottom: 2px solid var(--color-primary);
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 15px;
      position: relative;
    }

    .description {
      margin-bottom: 0;
      color: rgba(255, 255, 255, 0.9);
      position: relative;
    }

    @media (min-width: 1200px) {
      .swiper-slide-active + .swiper-slide {
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        z-index: 1;
      }
    }

    .swiper-pagination {
      margin-top: 20px;
      position: relative;

      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: #d1d1d7;
        opacity: 1;

        &-active {
          background-color: var(--color-primary);
        }
      }
    }
  }
}
