.service-dental {
  background: url(../../images/home/wave-background.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h5 {
    color: $color-extra;
    font-size: 38px;
    font-weight: 600;
  }
}
