.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  font-size: 18px;
  background: $color-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
