/*--------------------------------------------------------------
# Dokter Page
--------------------------------------------------------------*/
.page-dokter {
  .title {
    color: $color-extra;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .subtitle {
    color: #777;
    font-size: 16px;
    font-weight: 400;
    padding: 2px 0;
  }

  .ml-4 {
    margin-left: 25px;
  }
}
