/*--------------------------------------------------------------
# Home Page
--------------------------------------------------------------*/

.page-home {
  h5 {
    font-weight: 300;
    margin-bottom: 15px;
  }
}
