/* Chefs Section */
.page-promo {
  .promo {
    .promo-item {
      overflow: hidden;
      text-align: center;
      border-radius: 5px;
      background: #fff;
      box-shadow: 0px 0 30px rgba(55, 55, 63, 0.08);
      transition: 0.3s;

      .promo-img {
        position: relative;
        overflow: hidden;

        &:after {
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          height: 100%;
          width: 100%;
          background: url(/images/wave/team-shape.svg) no-repeat center bottom;
          background-size: contain;
          z-index: 1;
        }
      }

      .social {
        position: absolute;
        right: -100%;
        top: 30px;
        opacity: 0;
        border-radius: 4px;
        transition: 0.5s;
        background: rgba(255, 255, 255, 0.3);
        z-index: 2;

        a {
          transition: color 0.3s;
          color: rgba(55, 55, 63, 0.4);
          margin: 15px 12px;
          display: block;
          line-height: 0;
          text-align: center;

          &:hover {
            color: rgba(55, 55, 63, 0.9);
          }
        }

        i {
          font-size: 18px;
        }
      }

      .promo-info {
        padding: 10px 15px 20px 15px;

        h4 {
          font-weight: 700;
          margin-bottom: 5px;
          font-size: 20px;
          color: var(--color-secondary);
        }

        span {
          display: block;
          font-size: 14px;
          font-weight: 400;
          color: rgba(33, 37, 41, 0.4);
        }

        p {
          font-style: italic;
          font-size: 14px;
          padding-top: 15px;
          line-height: 26px;
          color: rgba(33, 37, 41, 0.7);
        }
      }

      &:hover {
        transform: scale(1.08);
        box-shadow: 0px 0 30px rgba(55, 55, 63, 0.15);
      }

      &:hover .social {
        right: 8px;
        opacity: 1;
      }
    }
  }
}
